*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Crimson Text", sans-serif;
  font-size: 15px;
  color: #1f2d5a;
}

::-moz-placeholder {
  color: #1f2d5a;
}

h1,
h2,
h3,
::placeholder {
  color: #1f2d5a;
}

::-moz-placeholder {
  padding: 0 5px;
}

::placeholder {
  padding: 0 5px;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

button,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

.privacy-policy {
  margin: 0 15px;
  color: #1f2d5a;
}

.lock-scroll {
  overflow: hidden;
}

.section {
  display: block;
  background-color: rgb(239, 241, 250);
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

.second-nav {
  cursor: pointer;
}

.section-title {
  margin: 0 15px;
  padding: 25px 15px;
  font-size: 22px;
  color: #1f2d5a;
  border-left: 3px solid #1f2d5a;
}

.headers-titles {
  margin: 0 15px 15px;
  padding: 25px 15px;
  font-size: 1.4rem;
  color: #1f2d5a;
  border-left: 3px solid #1f2d5a;
}

.header {
  position: relative;
}
.header__box {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(239, 241, 250);
  z-index: 10;
}
.header__logo {
  max-width: 150px;
  margin: 10px 10px 10px 15px;
  padding: 10px;
}
.header__nav-desktop-box {
  display: none;
}

.nav-mobile {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  top: 0;
  padding-top: 8em;
  background-color: rgb(239, 241, 250);
  transform: translate(-110%);
  opacity: 0;
  transition: opacity ease-in-out 1s;
  z-index: 10;
}
.nav-mobile--active {
  transform: translate(0);
  opacity: 1;
}
.nav-mobile__items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 1em;
  overflow: hidden;
}
.nav-mobile__icon {
  width: 25%;
  padding: 0.5em 1.25em;
}
.nav-mobile__text {
  align-content: center;
  padding: 0.5em 1em 0.5em 0;
  height: 100%;
  width: 100%;
  font-size: 1.1rem;
  color: #1f2d5a;
  text-transform: capitalize;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 100vw;
  height: 85vh;
  margin-bottom: 3em;
  overflow: hidden;
}
.slider__slide-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1.2s linear, transform 1s ease-in-out;
}
.slider__slide-box--active {
  opacity: 1;
}
.slider__text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 3;
  box-sizing: border-box;
  width: 100%;
  padding: 1.25em 2.25em;
  order: 2;
  color: #1f2d5a;
}
.slider__text-box--slide1 {
  background-color: #ffffff;
}
.slider__text-box--slide2 {
  background-color: #ffffff;
}
.slider__text-box--slide3 {
  background-color: #ffffff;
}
.slider__text-box--slide4 {
  background-color: #ffffff;
}
.slider__text-box--slide5 {
  background-color: #ffffff;
}
.slider__headers {
  font-size: 1.1rem;
}
.slider__description {
  padding: 0.5em 0;
  font-size: 0.95rem;
}
.slider__btn {
  margin: 0.5em 0;
  padding: 0.5em 1.2em;
  background-color: transparent;
  border: 2px solid #1f2d5a;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  color: #1f2d5a;
  transition: color 0.5s linear, background-color 0.5s linear;
}
.slider__btn:hover {
  background-color: #1f2d5a;
  color: rgb(255, 255, 255);
}
.slider__img {
  -o-object-fit: cover;
     object-fit: cover;
  flex: 7;
  width: 100%;
  height: 30%;
  box-sizing: border-box;
}

.arrow {
  position: absolute;
  top: 50%;
  font-size: 1.6rem;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.5s linear;
}
.arrow--prevBtn {
  left: 0.8em;
}
.arrow--nextBtn {
  right: 0.8em;
}

.about {
  width: 100%;
  padding: 0 1em 2em;
}
.about__description {
  padding: 2em 2em 0;
  text-align: left;
}

.brand-slider {
  position: relative;
  width: 100%;
  padding: 3em 1em 2em;
  overflow: hidden;
}
.brand-slider__description {
  padding: 2em 2em 0;
  text-align: left;
}
.brand-slider__box {
  display: flex;
  margin: 2em 0;
  animation: slideAnimation 30s linear infinite;
}
.brand-slider__brand {
  display: flex;
  justify-content: center;
  margin: 0 2.5em;
  flex: 0 0 calc(33.333% - 10px);
}
.brand-slider__logo {
  max-width: 250px;
  height: 120px;
}
.brand-slider__btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-slider__btn {
  margin: 0.5em 0;
  padding: 0.5em 1.2em;
  text-align: center;
  background-color: transparent;
  border: 2px solid #1f2d5a;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  color: #1f2d5a;
  transition: color 0.5s linear, background-color 0.5s linear;
}
.brand-slider__btn:hover {
  background-color: #1f2d5a;
  color: rgb(255, 255, 255);
}

@keyframes slideAnimation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-960%);
  }
}
.benefits {
  padding: 3em 1em 2em;
  background-color: white;
}
.benefits__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}
.benefits__icons-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.benefits__icon-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.benefits__text {
  text-align: center;
  font-size: 0.95rem;
  font-weight: 600;
}

.contact-section {
  display: block;
  padding: 35px 0;
}
.contact-section .contact .contact-container {
  margin: 0 auto;
  padding: 0 1em;
  width: 100%;
  max-width: 1400px;
}
.contact-section .contact .contact-container .contact-wrapper {
  margin: 0 15px;
}
.contact-section .contact .contact-container .contact-wrapper .brand-info {
  margin-bottom: 5px;
  overflow: hidden;
}
.contact-section .contact .contact-container .contact-wrapper .brand-info .brand-details {
  padding: 15px;
  height: 100%;
}
.contact-section .contact .contact-container .contact-wrapper .brand-info .brand-details h3,
.contact-section .contact .contact-container .contact-wrapper .brand-info .brand-details p {
  padding: 5px;
  line-height: 20px;
}
.contact-section .contact .contact-container .contact-wrapper .form-container {
  display: block;
  padding: 0 15px;
}
.contact-section .contact .contact-container .contact-wrapper .form-container h3 {
  margin: 0 auto;
  padding: 25px 0;
}
.contact-section .contact .contact-container .contact-wrapper .form-container .contact-form .contact-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-section .contact .contact-container .contact-wrapper .form-container .contact-form .contact-box .contact-input {
  margin-bottom: 18px;
}
.contact-section .contact .contact-container .contact-wrapper .form-container .contact-form .contact-box .contact-textarea {
  resize: vertical;
  height: 100px;
  min-height: 100px;
}
.contact-section .contact .contact-container .contact-wrapper .form-container .contact-form .contact-box .contact-input,
.contact-section .contact .contact-container .contact-wrapper .form-container .contact-form .contact-box .contact-textarea {
  padding: 0.5em 0.8em;
  background: none;
  border: 2px solid #1f2d5a;
  border-radius: 4px;
  outline: none;
  color: #1f2d5a;
  font-family: "Crimson Text", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.contact-section .contact .contact-container .contact-wrapper .contact-btn {
  width: 100%;
  margin: 0.5em 0;
  padding: 0.5em 1.2em;
  background-color: transparent;
  border: 2px solid #1f2d5a;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  color: #1f2d5a;
  transition: color 0.5s linear, background-color 0.5s linear;
}
.contact-section .contact .contact-container .contact-wrapper .contact-btn:hover {
  background-color: #1f2d5a;
  color: rgb(255, 255, 255);
}
.contact-section .contact .contact-container .contact-wrapper .newsletter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}
.contact-section .contact .contact-container .contact-wrapper .newsletter-container input[type=checkbox] {
  background-color: #fff;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
}
.contact-section .contact .contact-container .contact-wrapper .newsletter-container .subscription {
  padding-left: 15px;
  font-size: 16px;
}
.contact-section .contact .contact-container .privacy-policy {
  padding: 35px 15px;
  line-height: 22px;
}
.contact-section .contact .contact-container .privacy-policy a {
  font-weight: 600;
  color: #1f2d5a;
}

.footer-container {
  width: 100%;
  height: 100%;
}
.footer-container .legal-rules {
  padding: 20px 30px;
}
.footer-container .legal-rules .footer-logo {
  display: none;
}
.footer-container .legal-rules .legal-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.footer-container .legal-rules .legal-links .legal-link {
  margin-left: 5px;
  padding: 10px;
  text-decoration: none;
  color: #1f2d5a;
  font-weight: 400;
  cursor: pointer;
}
.footer-container .legal-rules .copyright {
  margin-left: 5px;
  padding: 10px;
  font-weight: 400;
}

@media (min-width: 350px) {
  .brand-slider__box {
    animation: slideAnimation 30s linear infinite;
  }
  @keyframes slideAnimation {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-780%);
    }
  }
}
@media (min-width: 475px) {
  .brand-slider__box {
    animation: slideAnimation 30s linear infinite;
  }
  @keyframes slideAnimation {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-720%);
    }
  }
}
@media (min-width: 810px) {
  .header__box {
    justify-content: space-evenly;
  }
  .header__nav-mobile {
    display: none;
  }
  .header__nav-desktop-box {
    display: flex;
    margin-right: 8em;
  }
  .header__nav-desktop {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: start;
  }
  .header__nav-item {
    padding: 1em 2em;
    font-size: 1.25rem;
    font-weight: 600;
    color: #1f2d5a;
    text-transform: capitalize;
    transition: color 0.5s linear;
  }
  .header__nav-item:hover {
    color: #939dbb;
  }
  .header__nav-item--p {
    padding: 1em 0.2em 1em 2em;
  }
  .header__second-nav-box {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .header__drop-down-close-btn {
    background: none;
    outline: none;
    font-family: none;
    transition: transform 0.65s ease-in-out;
  }
  .header__drop-down-close-btn--rotate {
    transform: rotate(495deg);
    transform-origin: center;
  }
  .header__drop-down-nav-box {
    position: absolute;
    display: flex;
    top: 4.2em;
    left: -160%;
    width: 150vw;
    height: 150%;
    padding: 1em 0;
    margin-left: 12em;
    background-color: rgb(239, 241, 250);
    border-radius: 0 15px 0;
    transform: translateX(150%);
    z-index: -10;
    overflow: hidden;
    transition: transform 1s cubic-bezier(0.14, 0.25, 0.29, 1.35);
  }
  .header__drop-down-nav-box--active {
    transform: translateX(0%);
  }
  .header__drop-down-nav-box--hidden {
    transform: translateX(150%);
  }
  .header__drop-down-nav-link {
    align-self: center;
    justify-self: center;
    padding: 1em 3em;
    font-size: 1rem;
    font-weight: 600;
    color: #1f2d5a;
    text-transform: capitalize;
    transition: color 0.5s linear;
  }
  .header__drop-down-nav-link:hover {
    color: #939dbb;
  }
  .secondary-desktop-nav:hover {
    display: flex;
    height: 75vh;
    width: 100%;
  }
  .hamburger {
    display: none;
  }
  .slider {
    height: 700px;
  }
  .slider__slide-box {
    flex-direction: row;
  }
  .slider__text-box {
    width: 30%;
    padding: 4em;
  }
  .slider__img {
    height: 100%;
    width: 70px;
  }
  .arrow {
    top: 80%;
    margin: 0 2.2em;
    padding: 1em;
    color: #1f2d5a;
    font-size: 1rem;
    border: 2px solid;
    border-radius: 50px;
  }
  .arrow:hover {
    background-color: rgb(239, 241, 250);
  }
  .brand-slider__brand {
    margin: 0 0;
  }
  .brand-slider__box {
    animation: slideAnimation 50s linear infinite;
  }
  @keyframes slideAnimation {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-310%);
    }
  }
  .benefits__icons-box {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .contact-wrapper {
    display: flex;
  }
  .contact-wrapper .form-container {
    display: flex;
    width: 70%;
  }
  .brand-info {
    margin-bottom: 0;
    margin-right: 25px;
    width: 30%;
  }
  .contact-form {
    width: 100%;
  }
  .footer-container {
    margin: 0 auto;
  }
  .footer-container .legal-rules {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer-container .legal-rules a .footer-logo {
    display: inherit;
    max-width: 150px;
    left: 10px;
    margin: 10px 50px 10px 50px;
    padding: 10px;
  }
  .footer-container .legal-rules .legal-links .legal-link {
    transition: -webkit-text-decoration;
    transition: text-decoration;
    transition: text-decoration, -webkit-text-decoration;
  }
  .footer-container .legal-rules .legal-links .legal-link:hover {
    text-decoration: underline;
  }
  .footer-container .legal-rules .copyright {
    margin-left: 50px;
    padding: 10px;
  }
}
@media (min-width: 1400px) {
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */