// ***BACKGROUND COLORS***
$main-background-color: rgb(239, 241, 250);
$secondary-background-color: rgb(147, 157, 187);

// ***FONTS COLORS***
$main-font-color: rgb(31, 45, 90);
$h1-color: rgb(255, 255, 255);
