// ***BACKGROUND COLORS***
$main-background-color: rgb(175, 185, 234, 0.2);
$secondary-background-color: rgb(36, 58, 124, 0.5);

// ***FONTS COLORS***
$main-font-color: rgb(31, 45, 90);
$h1-color: rgb(255, 255, 255);