@use '../scss/colors' as colors;

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	font-family: 'Crimson Text', sans-serif;
	font-size: 15px;
	color: colors.$main-font-color;
	overflow-x: hidden;
}

h1,
h2,
h3 {
	color: colors.$main-font-color;
}

a {
	text-decoration: none;
}

img {
	height: auto;
}

button,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

.fixed {
	position: fixed;
	width: 100%;
}

.section-title {
	margin: 0 25px;
	padding: 25px;
	font-size: 18px;
	color: colors.$main-font-color;
	text-transform: uppercase;
	border-left: 5px solid colors.$main-font-color;
}

.privacy-policy {
	margin: 0 25px;
	color: colors.$main-font-color;
}

// // ***TOP INFO BAR***

.contact-info {
	width: 100%;

	.info-bar {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		padding: 10px;
		background-color: colors.$secondary-background-color;

		span,
		a {
			font-size: 12px;
			text-transform: uppercase;
			text-decoration: none;
			padding: 5px 0;
			color: colors.$main-font-color;
			font-weight: 600;
		}
	}
}

// // *** HEADER CONTAINER AND LOGO ***

.nav-bar {
	width: 100%;

	.nav-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		background-color: colors.$main-background-color;
		border-bottom: 1px solid colors.$main-font-color;
		overflow: hidden;

		a {
			.logo {
				max-width: 150px;
				margin: 10px 10px 10px 50px;
				padding: 10px;
			}
		}
	}
}

// // *** MOBILE HAMBURGER MENU***

.burger-icon {
	padding: 20px 36px;
	background: none;
	border: none;
	font-size: 20px;
	cursor: pointer;
	transition: background-color 0.6s;
}

.burger-icon:hover {
	background-color: rgba(133, 140, 181, 0.149);
}

.nav-items {
	display: none;
}

// // *** HERO BANNER ***

.header-container {
	width: 100%;
	height: 100vh;
}

// *** CONTACT FORM ***

.contact-section {
	display: block;
	background-color: colors.$main-background-color;

	.contact {
		.contact-container {
			margin: 0 auto;
			padding: 0 1em;
			width: 100%;
			max-width: 1400px;

			.contact-wrapper {
				margin: 0 25px;

				.brand-info {
					position: relative;
					margin-bottom: 25px;
					overflow: hidden;

					.brand-details {
						padding: 25px;
						height: 100%;

						h3,
						p {
							padding: 5px;
						}
					}
				}
				.contact-form {
					display: block;
					padding: 0 25px;

					.contact-box {
						display: flex;
						flex-direction: column;
						position: relative;
						width: 100%;

						.contact-input {
							margin-bottom: 18px;
						}

						.contact-textarea {
							resize: vertical;
							height: 100px;
							min-height: 100px;
						}

						.contact-input,
						.contact-textarea {
							padding: 5px;
							background: none;
							border: 1px solid colors.$main-font-color;
							border-radius: 4px;
							outline: none;
							color: colors.$main-font-color;
							font-family: 'Crimson Text', sans-serif;
							font-size: 16px;
						}
					}
				}

				.contact-btn {
					margin-top: 18px;
					padding: 5px;
					font-size: 16px;
					width: 100%;
					color: #fff;
					background-color: colors.$main-font-color;
					border-radius: 8px;
				}
			}

			.privacy-policy {
				padding: 25px;

				a {
					font-weight: 600;
					color: colors.$main-font-color;
				}
			}
		}
	}
}

// *** FOOTER ***

.footer-container {
	width: 100%;
	height: 100%;
	background-color: colors.$main-background-color;

	.legal-rules {
		padding: 20px 50px;

		.footer-logo {
			display: none;
		}

		.legal-links {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: center;

			.legal-link {
				margin-left: 5px;
				padding: 10px;
				text-decoration: none;
				color: colors.$main-font-color;
				font-weight: 400;
				cursor: pointer;
			}
		}

		.copyright {
			margin-left: 5px;
			padding: 10px;
			font-weight: 400;
		}
	}
}

@media (min-width: 810px) {
	.contact-info {
		display: none;
	}

	.nav-container {
		height: 62px;

		.burger-icon {
			display: none;
		}

		.nav-items {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;

			a {
				padding: 20px 36px;
				height: 62px;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-weight: 600;
				text-decoration: none;
				color: colors.$main-font-color;
				transition: all 0.6s;
			}

			a:hover {
				color: rgb(255, 255, 255);
				background-color: colors.$main-font-color;
			}
		}
	}

	// *** CONTACT FORM ***

	.contact-wrapper {
		display: flex;
	}

	.brand-info {
		margin-bottom: 0;
		margin-right: 25px;
		width: 30%;
	}

	.contact-form {
		width: 70%;
	}

	// *** FOOTER ***

	.footer-container {
		margin: 0 auto;

		.legal-rules {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			flex-wrap: wrap;

			a {
				.footer-logo {
					display: inherit;
					max-width: 150px;
					left: 10px;
					margin: 10px 50px 10px 50px;
					padding: 10px;
				}
			}

			.legal-links {
				.legal-link {
					transition: text-decoration;
				}

				.legal-link:hover {
					text-decoration: underline;
				}
			}

			.copyright {
				margin-left: 50px;
				padding: 10px;
			}
		}
	}
}

@media (min-width: 1400px) {
	// *** FOOTER ***

	.footer-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
